page-localizacion {
	.trans{
		background-color: transparent;
		height: 100vh;
		width: 100vw;
	}
	#map_canvas{
	    display: block;
	    height: 100%;
	    width: 100%;
	        position: absolute;
    top: 0;
    left: 0;
  }
}
